<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>疫情监控</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<script type="text/javascript" src="../static/js/jquery-3.5.0.min.js"></script>
		<!-- 引入 echarts.js -->
		<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts.min.js"></script>
		<script src="../static/js/echarts-wordcloud.min.js"></script>
		<script type="text/javascript" src='../static/js/china.js'></script>
		
	</head>
	<body>
		<div id='title'>全国疫情实时监控</div>
		<div id="time">2020-05-03 16:03:17</div>
		<div id='left1'></div>
		<div id='left2'>我是左二</div>
		<div id='c1'>
			<div class="num">
				<h1>123</h1>
			</div>
			<div class="num">
				<h1>123</h1>
			</div>
			<div class="num">
				<h1>123</h1>
			</div>
			<div class="num">
				<h1>123</h1>
			</div>
			<div class="txt"><h2>累计确诊</h2></div>
			<div class="txt"><h2>剩余疑似</h2></div>
			<div class="txt"><h2>累计治愈</h2></div>
			<div class="txt"><h2>累计死亡</h2></div>
		</div>
		<div id='c2'>我是中二</div>
		<div id='right1'>我是右一</div>
		<div id='right2'></div>
		
		<script src='../static/js/center.js'></script>
		<script src="../static/js/left_02_line.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src='../static/js/left_01_line.js'></script>
		<script type="text/javascript" src='../static/js/right_01_bar.js'></script>
		<script type="text/javascript" src='../static/js/control_right_01_data.js'></script>
		<script src='../static/js/right_02.js'></script>
		<script type="text/javascript" src="../static/js/control_data.js"></script>
	</body>
</html>
